#idt-admin-tpl-dashboard img {
	max-width: 100%;
}
.idt-admin-menu {
	min-height: 100vh;
	background-color: #666;
	margin: 0;
	padding-top: 58px;
}
.idt-admin-menu .item {
	display: block;
	width: 100%;
	background-color: #32373c;
	border: none;
	outline: none;
	color: #fff;
	font-size: 16px;
	padding: 10px 15px;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	text-align: left;
	transition: 0.3s;
}
.idt-admin-menu .item:hover,
.idt-admin-menu .item:focus,
.idt-admin-menu .item.active {
	background-color: #23282d;
	border-bottom: 2px solid #fff;
	transition: 0.3s;
}

.idt-image-manager .idt-image-preview {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid #666;
}

.idt-admin-title {
	background-color: #666;
	padding: 20px;
	text-align: center;
	font-size: 17px;
	color: #fff;
	margin: 0;
}
.idt-container {
	padding: 15px;
}
.idt-admin-content {
	min-height: 100vh;
	position: relative;
}
.idt-custom-row {
	display: flex;
	flex-wrap: wrap;
}
.idt-custom-row .idt-custom-col-1 {
	flex: 1;
}
.idt-custom-row .idt-custom-col-5 {
	flex: 5;
}
.idt-spinner-container {
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	background-color: #66666654;
}
.idt-spinner-container .idt-spinner {
	font-size: 40px;
	width: 40px;
	height: 40px;
	margin: auto;
	animation-name: rotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
#idt-admin-tpl-dashboard .idt-message {
	background-color: #23282d;
	color: #fff;
	padding: 15px;
	text-align: center;
}
#idt-admin-tpl-dashboard .idt-input-container {
	margin-bottom: 15px;
}
#idt-admin-tpl-dashboard .idt-input-container .idt-label {
	display: block;
	font-size: 14px;
	border-bottom: 2px solid;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
#idt-admin-tpl-dashboard .idt-input-container .idt-input {
	width: 100%;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-180deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
