.ld-button-whatsapp {
	position: fixed;
	right: 0.5rem;
	bottom: 1rem;
	z-index: 999;
	&__item {
		a {
			background-color: #00bb40;
			width: 55px;
			height: 55px;
			display: inline-flex;
			border-radius: 100px;
			align-items: center;
			justify-content: center;
			box-shadow: 0 3px 6px #4a36dd80;
			z-index: 99;
			text-decoration: none;
			transition: 300ms all ease-in-out;
			svg {
				width: 30px;
				filter: invert(0.5) hue-rotate(60deg) brightness(100);
			}
			&:hover {
				background-color: var(--idt-text-color-2);
				svg {
					filter: brightness(0) saturate(100%) invert(53%) sepia(85%) saturate(3591%) hue-rotate(111deg) brightness(98%) contrast(103%);
				}
			}
		}
	}
}
