.idt-grid-5 {
    padding: 2rem 0;
    position: relative;
    @media (max-width: 991px) {
        padding: 2rem 0 1rem 0;
    }
    &__figure {
        position: absolute;
        top: -2rem;
        left: -7rem;
        @media (max-width: 991px) {
            display: none;
        }
    }
    &__wrapper {
        text-align: center;
        max-width: 775px;
        margin: 0 auto 10rem auto;
        @media (max-width: 991px) {
            text-align: left;
        }
    }
    &__title {
        .idt-title-2 {
            color: var(--idt-text-color-5);
        }
    }
    &__cta {
        margin-top: 2rem;
        @media (max-width: 991px) {
            text-align: center;
        }
    }
}