.idt-social-media-footer {
    margin: 2rem 0;
    .idt-menu.idt-horizontal {
        margin: auto;
        li {
            margin: 0 0.7rem;
            a {
                font-size: 1.2rem;
                text-decoration: none;
                i {
                    width: 34px;
                    height: 34px;
                    color: var(--idt-text-color-5);
                    background-color: var(--idt-bg-color-2);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                    transition: 300ms all ease-in-out;
                }
                &:hover {
                    i {
                        color: var(--idt-text-color-2);
                        background-color: var(--idt-bg-color-3);
                    }
                }
            }
        }
    }
}