img {
	max-width: 100%;
}
button:focus {
	outline: none !important;
}
body {
	font-size: 16px;
}
.idt-header-sticky {
	position: fixed !important;
	width: 100%;
	z-index: 99999;
	&.idt-sticky-active {
		-webkit-transition: 400ms all ease-out;
		-moz-transition: 400ms all ease-out;
		-o-transition: 400ms all ease-out;
		transition: 400ms all ease-out;
	}
}
.idt-holder {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.idt-margin_left-auto {
	margin-left: auto;
}

/* styles checkbox */
input[type="checkbox"] {
	width: 0;
	margin-right: 10px;
}

input[type="checkbox"]:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 12px;
	width: 20px;
	height: 20px;
	border: 2px solid #014454;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	background-color: #ffffff;
	-webkit-transition: 200ms all ease-out;
	-moz-transition: 200ms all ease-out;
	-ms-transition: 200ms all ease-out;
	-o-transition: 200ms all ease-out;
	transition: 200ms all ease-out;
}
input[type="checkbox"]:hover:before {
	border: 2px solid #014454;
	box-shadow: 0 0 10px #3ea197;
}

input[type="checkbox"]:hover:checked:before {
	border: 2px solid #014454;
	box-shadow: none;
}

input[type="checkbox"]:checked:after {
	content: '✓';
	position: absolute;
	top: -19px;
	left: 14px;
	font-size: 30px;
	color: #014454;
}
.privacy-policy {
	span.wpcf7-list-item {
		display: -webkit-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
}
.idt-center-col {
	margin: auto;
}
.slick-slide {
	outline: none !important;
}
.slick-arrow {
	outline: none !important;
	font-size: 30px;
	position: absolute;
	top: calc(50% - 20px);
	color: #303030;
	background-color: transparent;
	border: 0;
	z-index: 9999;
	> i {
		font-size: 20px;
		width: 30px;
		height: 30px;
		display: -webkit-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		left: 10px;
		background-color: transparent;
		border-radius: 50%;
	}
	&.slick-next {
		right: -4%;
		i {
			padding-left: 11px;
		}
	}
	&.slick-prev {
		left: -4%;
		i {
			padding-left: 8px;
		}
	}
}
.slick-dots {
	text-align: center;
	list-style: none;
	padding-left: 0 !important;
	li {
		display: inline-block;
	}
	li:not(:last-child) {
		margin-right: 10px;
	}
	li button {
		font-size: 0;
		line-height: 0;
		position: relative;
		cursor: pointer;
		border: 0;
		outline: none;
		background: transparent;
	}
	li button:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 10px;
		height: 10px;
		background-color: #303030;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		opacity: .45;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	li.slick-active button:before {
		background-color: #000;
		opacity: 1;
	}
}
